/* ExtraLight */
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-ExtraLight.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-ExtraLightItalic.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Light.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-LightItalic.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Regular.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Italic.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Medium.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-MediumItalic.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

/* SemiBold */
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-SemiBold.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-SemiBoldItalic.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Bold.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-BoldItalic.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* Thin */
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Thin.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-ThinItalic.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

/* Text */
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-Text.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-Text.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans-TextItalic.woff2') format('woff2'),
         url('/fonts/IBMPlexSans-TextItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}



/* ExtraLight */
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-ExtraLight.woff2') format('woff2'),
         url('/fonts/IBMPlexMono-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono.woff2') format('woff2'),
         url('/fonts/IBMPlexMono.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono.woff2') format('woff2'),
         url('/fonts/IBMPlexMono.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono.woff2') format('woff2'),
         url('/fonts/IBMPlexMono.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-Regular.woff2') format('woff2'),
         url('/fonts/IBMPlexMono-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-Italic.woff2') format('woff2'),
         url('/fonts/IBMPlexMono-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-Medium.woff2') format('woff2'),
         url('/fonts/IBMPlexMono-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-MediumItalic.woff2') format('woff2'),
         url('/fonts/IBMPlexMono-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

/* SemiBold */
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-SemiBold.woff2') format('woff2'),
         url('/fonts/IBMPlexMono-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-SemiBoldItalic.woff2') format('woff2'),
         url('/fonts/IBMPlexMono-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-Bold.woff2') format('woff2'),
         url('/fonts/IBMPlexMono-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-BoldItalic.woff2') format('woff2'),
         url('/fonts/IBMPlexMono-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* Thin */
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-Thin.woff2') format('woff2'),
         url('/fonts/IBMPlexMono-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-ThinItalic.woff2') format('woff2'),
         url('/fonts/IBMPlexMono-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

/* Text */
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-Text.woff2') format('woff2'),
         url('/fonts/IBMPlexMono-Text.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBMPlexMono-TextItalic.woff2') format('woff2'),
         url('/fonts/IBMPlexMono-TextItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

body {
    font-family: "IBM Plex Sans";
    padding-bottom: 25em;
}
body > section {
    padding: 0.5cm 0 0.5cm 0;
}

code, pre {
  font-family: "IBM Plex Mono";
  background: #eee;
  overflow-x: auto;
}

pre.shell,
div.code > pre /* for pygments output */
{
  padding: 0.5em;
}

.code-block {
  position: relative;
}

.code-buttons {
  position: absolute;
  top: 0.5em;
  right: 1em;
}

.button {
  display: inline-block;
  padding: 0.1em 0.4em;
  background-color: transparent;
  color: white !important;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px gray;
  background-color: gray;
  margin: 0;
  font-size: 0.8rem;
}

.button.copy:before {
  content: "⿻";
}

.button.download:before {
  content: "⭳";
}

.button.download {
  background-color: green;
}

.button.copy:hover {
  background-color: darkgrey;
}

.button.download:hover {
  background-color: darkgreen;
}

.button.example {
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: darkgreen;
  padding: 5px
}

.button.missing {
  background-color: red;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px
}

details > summary > h2, details > summary > h3 {
    display: inline;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

a.heading {
  text-decoration: none;
  color: inherit;
}

h2:hover .anchor {
    visibility: visible;
    opacity: 1;
}

.anchor {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 75%;
    content: "¶";
}

.page-width {
  max-width: 55rem;
  margin: auto;
  padding: 1rem 0;
}

article.project {
  border: 1px solid darkgrey;
  border-radius: 5px;
  margin: 0.5em 0;
  padding: 0.5em;
}

article.project h2 {
  flex: 1;
  margin: 0;
}


article.project .row {
  display: flex;
  flex-direction: row;
}

article.project .deliverable-tag {
  margin-left: 0.5em;
  height: 100%;
  padding: 0 0.2em;
  background: lightgrey;
  border-radius: 0.2em;
  font-variant: small-caps;
  text-transform: capitalize;
  font-weight: 500;
}

article.project .deliverable-tag.deliverable-has-problem {
  background-color: lightpink;
}

.option-name {
  font-weight: 600;
  font-family: "IBM Plex Mono";
}

.option-alert {
  background: red;
  color: white;
  padding: 0 0.3em;
  font-weight: 700;
}

.option-prefix {
  color: darkgrey;
}

.option-body dl dt {
  padding: 0;
  color: darkgrey;
  font-weight: 500;
}

.option-body dl dd {
  margin-bottom: 0.5em;
}

.option-description p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

dd {
  margin-left: 2em;
  margin-bottom: 1.5em;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #3c3434;
    color: #f0decb;
  }
  a:link {
    color: #9595ff;
  }
  a:visited {
    color: #dc6edf;
  }
  code, pre {
    background: #242222;
  }
  .code .ss {
    color: #5D5AFF !important;
  }
}

/* Desktop */
@media (min-width: 50em) {
}

/* Smartphone */
@media (max-width: 50em) {
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  dd {
    margin-left: 0;
  }
}

