/* ExtraLight */
@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-ExtraLight.woff2') format('woff2'),
         url('IBMPlexSans-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-ExtraLightItalic.woff2') format('woff2'),
         url('IBMPlexSans-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-Light.woff2') format('woff2'),
         url('IBMPlexSans-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-LightItalic.woff2') format('woff2'),
         url('IBMPlexSans-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-Regular.woff2') format('woff2'),
         url('IBMPlexSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-Italic.woff2') format('woff2'),
         url('IBMPlexSans-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-Medium.woff2') format('woff2'),
         url('IBMPlexSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-MediumItalic.woff2') format('woff2'),
         url('IBMPlexSans-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

/* SemiBold */
@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-SemiBold.woff2') format('woff2'),
         url('IBMPlexSans-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-SemiBoldItalic.woff2') format('woff2'),
         url('IBMPlexSans-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-Bold.woff2') format('woff2'),
         url('IBMPlexSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-BoldItalic.woff2') format('woff2'),
         url('IBMPlexSans-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* Thin */
@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-Thin.woff2') format('woff2'),
         url('IBMPlexSans-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-ThinItalic.woff2') format('woff2'),
         url('IBMPlexSans-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

/* Text */
@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-Text.woff2') format('woff2'),
         url('IBMPlexSans-Text.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-TextItalic.woff2') format('woff2'),
         url('IBMPlexSans-TextItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}



/* ExtraLight */
@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono-ExtraLight.woff2') format('woff2'),
         url('IBMPlexMono-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono.woff2') format('woff2'),
         url('IBMPlexMono.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono.woff2') format('woff2'),
         url('IBMPlexMono.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono.woff2') format('woff2'),
         url('IBMPlexMono.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono-Regular.woff2') format('woff2'),
         url('IBMPlexMono-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono-Italic.woff2') format('woff2'),
         url('IBMPlexMono-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono-Medium.woff2') format('woff2'),
         url('IBMPlexMono-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono-MediumItalic.woff2') format('woff2'),
         url('IBMPlexMono-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

/* SemiBold */
@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono-SemiBold.woff2') format('woff2'),
         url('IBMPlexMono-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono-SemiBoldItalic.woff2') format('woff2'),
         url('IBMPlexMono-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono-Bold.woff2') format('woff2'),
         url('IBMPlexMono-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono-BoldItalic.woff2') format('woff2'),
         url('IBMPlexMono-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* Thin */
@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono-Thin.woff2') format('woff2'),
         url('IBMPlexMono-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono-ThinItalic.woff2') format('woff2'),
         url('IBMPlexMono-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

/* Text */
@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono-Text.woff2') format('woff2'),
         url('IBMPlexMono-Text.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('IBMPlexMono-TextItalic.woff2') format('woff2'),
         url('IBMPlexMono-TextItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

body {
    font-family: "IBM Plex Sans";
}
body > section {
    padding: 0.5cm 0 0.5cm 0;
}

code, pre {
  font-family: "IBM Plex Mono";
  background: #eee;
}

details > summary > h2, details > summary > h3 {
    display: inline;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

.page-width {
  max-width: 55rem;
  margin: auto;
  padding: 1rem 0;
}

article.project {
  border: 1px solid darkgrey;
  border-radius: 5px;
  margin: 0.5em 0;
  padding: 0.5em;
}

article.project h2 {
  flex: 1;
  margin: 0;
}


article.project .row {
  display: flex;
  flex-direction: row;
}

article.project .deliverable-tag {
  margin-left: 0.5em;
  height: 100%;
  padding: 0 0.2em;
  background: lightgrey;
  border-radius: 0.2em;
  font-variant: small-caps;
  text-transform: capitalize;
  font-weight: 500;
}

.option-name {
  font-weight: 600;
  font-family: "IBM Plex Mono";
}

.option-prefix {
  color: darkgrey;
}

.option-body dl dt {
  padding: 0;
  color: darkgrey;
  font-weight: 500;
}

.option-body dl dd {
  margin-bottom: 0.5em;
}

.option-description p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

dd {
  margin-left: 2em;
  margin-bottom: 1.5em;
}

/* Desktop */
@media (min-width: 50em) {
}

/* Smartphone */
@media (max-width: 50em) {
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  dd {
    margin-left: 0;
  }
}

