name: overview

on:
  push: { branches: [ 'main' ] }
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: 'actions/checkout@v4'
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v14
        with: { name: 'ngi' }
      - run: nix build .#overview
      - uses: actions/upload-pages-artifact@v3
        with: { path: 'result' }

  deploy:
    if: github.repository_owner == 'ngi-nix'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment: { name: 'overview', url: '${{ steps.deployment.outputs.page_url }}' }
    steps: [ { id: 'deployment', uses: 'actions/deploy-pages@v4' } ]
